div[class^=markdown] {
  color: #777;

  > *:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    font-weight: 600;
    color: #555;
  }

  ul {
    padding: 0;
    padding-left: 30px;
    list-style-type: none;
  }

  li {
    position: relative;
  }

  li:before {
    font-size: 10px;
    display: inline;
    opacity: 0.5;
    content: '◆';
    top: -1px;
    position: absolute;
    left: -20px;
  }

  hr {
    border: 0;
    border-top: 1px solid rgba(#000, 0.1);
  }

  .hljs-comment {
    opacity: 0.6;
  }
}

div.markdown-small {
  p,
  li {
    line-height: 26px;
  }

  ul {
    padding-left: 28px;
  }
}

div.markdown-medium {
  p,
  li {
    line-height: 32px;
  }

  ul {
    padding-left: 30px;
  }
}
