ui-nav-list {
  border-right: 5px solid rgba(#000, 0.1);
  display: block;
  flex: 0 0 auto;
  width: 250px;

  ui-search-input {
    height: 40px;
    width: 100%;

    ui-icon,
    ui-input,
    input[type=text] {
      height: inherit;
    }

    ui-icon {
      left: 10px;
    }

    input[type=text] {
      padding-left: 45px;
      border-radius: 0;
      border-right: 0;
    }
  }

  ui-nav-list-items {
    border-top: 2px solid rgba(#000, 0.1);
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
  }

  ui-nav-list-category {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background: $input;
    padding: 5px 20px;
    font-weight: 600;
    font-size: 14px;
    display: block;
  }

  ui-nav-list-item {
    border-bottom: 1px solid rgba(#000, 0.1);
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
    display: block;
    color: inherit;

    a {
      text-decoration: none;
      padding-right: 30px;
      padding: 5px 20px;
      border-bottom: 0;
      display: block;
      color: inherit;

      &:focus {
        outline: none;
      }

      &.active, &:hover, &:focus {
        background: $input;
        cursor: pointer;
        color: $focus;
      }
    }
  }
}
