ui-hero {
  background: url('images/noise.png'), linear-gradient(#1a4561, #158DD8);
  height: calc(100vh - 120px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #FFF;

  ui-hero-title {
    font-family: $title-font;
    font-size: 100px;
    line-height: 1;

    img {
      margin-right: 15px;
      width: 70px;
    }
  }

  ui-hero-subtitle {
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.6;
  }
}
