ui-hero {
  background: radial-gradient(circle 2000px, #2A2A2A, transparent),
              url('/images/hero.png'),
              linear-gradient(#333, #222);
  height: calc(100vh - 120px);
  background-position: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #EEE;

  ui-hero-title {
    font-family: $title-font;
    font-size: 100px;
    line-height: 1;

    img {
      margin-right: 15px;
      width: 70px;
    }
  }

  ui-hero-buttons {
    display: block;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    border: 0;

    + a {
      margin-left: 20px;
    }
  }

  ui-hero-subtitle {
    margin-bottom: 4vh;
    margin-top: 1vh;
    font-size: 20px;
    opacity: 0.6;
  }
}
