@import 'fonts';
@import 'ui';

$code-font: Source Code Pro, serif;
$title-font: Abel, Open Sans;

@import 'components/ui-nav-list';
@import 'components/ui-terminal';
@import 'components/ui-form';

@import 'parts/header.scss';
@import 'parts/hero.scss';

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: $focus;
  text-decoration: none;
  border-bottom: 1px solid rgba($focus, 0.5);
}

ui-playground {
  flex-direction: row;
  display: flex;
  flex: 1;

  > div {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex: 1;
  }

  ui-playground-viewport {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    flex: 1;
    margin-right: 20px;

  }
}

ui-reference,
ui-documentation {
  border-top: 2px solid #3b779e;
}

ui-reference {
  min-height: calc(100vh - 60px);
  display: flex;
}

ui-browser {
  border: 1px solid rgba(#000, 0.15);
  border-radius: 7px;
  flex: 0 0 auto;
  width: 600px;

  img {
    border-radius: 0 0 7px 7px;
    display: block;
    width: 100%;
  }

  ui-browser-title {
    background: rgba(#000, 0.05);
    display: block;
    height: 50px;
  }
}

ui-section {
  display: block;

  ui-section-container {
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 560px;
    display: flex;
  }

  ui-section-content {
    flex: 0 0 440px;
    font-size: 18px;

    > div {
      color: rgba(#000, 0.55);
    }

    ul {
      padding: 0;
      padding-left: 30px;
      list-style-type: circle;
    }

    b, strong {
      color: rgba(#000, 0.7);
      font-weight: 600;
    }

    p, li {
      line-height: 32px;
    }
  }

  ui-section-title {
    font-size: 40px;
    font-family: Abel;
    color: rgba(#000, 0.7);
  }

  &:nth-child(even) {
    background: $input;

    ui-section-content {
      margin-right: 60px;
    }
  }

  &:nth-child(odd) {
    ui-section-container {
      flex-direction: row-reverse;

      ui-section-content {
        margin-left: 60px;
      }
    }
  }

}

ui-reference-title {
  font-size: 26px;
  font-family: $title-font;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(#000, 0.1);
  display: block;

  &.upcase {
    text-transform: uppercase;
    font-size: 20px;
  }
}

ui-reference-content {
  display: block;
  flex: 1;
}

ui-reference-demo {
  border-bottom: 1px solid rgba(#000, 0.1);
  display: flex;
  min-height: 400px;

  ui-reference-demo-viewport {
    background: linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD),
                linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;

    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
    flex: 1;

    ui-color-picker {
      min-width: 240px;
    }

    ui-chooser {
      min-width: 300px;
    }
  }
}

ui-docs {
  padding: 30px;
  display: block;
  background: $input;
}

ui-docs-entity {
  display: block;

  + ui-docs-entity {
    border-top: 1px dashed rgba(#000, 0.1);
    padding-top: 30px;
    margin-top: 30px;
  }

  ui-docs-entity-description {
    display: block;
    margin-left: 20px;
    font-size: 14px;

    pre {
      padding: 20px;
      border-radius: $border-radius;
      border: 1px solid rgba(#000, 0.05);
      background: #F7f7f7;
    }

    code {
      font-family: $code-font;
    }
  }

  ui-docs-entity-title {
    display: flex;
    font-size: 16px;
    font-family: $code-font;

    span {
      white-space: nowrap;
      display: inline-block;
    }

    div {
      &:first-child {
        color: $primary;
      }

      &:last-child span:first-child {
        margin-right: 7px;
      }

      &:nth-child(2) {
        margin: 0 10px;
      }
    }
  }
}

ui-footer {
  height: 300px;
  display: block;
  background: #333;
}

ui-documentation {
  display: flex;
  min-height: 80vh;

  > div {
    background: $input;
    padding: 30px;
    flex: 1;
  }

  pre {
    padding: 20px;
    border-radius: $border-radius;
    border: 1px solid rgba(#000, 0.05);
    background: #F7f7f7;
  }

  code {
    font-family: $code-font;
  }
}
