@import 'fonts';
@import 'ui';

$code-font: Source Code Pro, serif;
$title-font: Abel, Open Sans;

@import 'components/ui-nav-list';
@import 'components/ui-terminal';
@import 'components/markdown';
@import 'components/ui-form';

@import 'parts/header.scss';
@import 'parts/hero.scss';

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: $primary;
  text-decoration: none;
  border-bottom: 1px solid rgba($primary, 0.5);
}

ui-playground {
  flex-direction: row;
  display: flex;
  flex: 1;

  > div {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex: 1;
  }

  ui-playground-viewport {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    flex: 1;
    margin-right: 20px;

  }
}

ui-reference {
  min-height: calc(100vh - 60px);
  display: flex;
}

ui-browser {
  border: 1px solid rgba(#000, 0.15);
  border-radius: 7px;
  flex: 0 0 auto;
  width: 600px;

  img {
    border-radius: 0 0 7px 7px;
    display: block;
    width: 100%;
  }

  ui-browser-title {
    background: rgba(#000, 0.05);
    display: block;
    height: 50px;
  }
}

ui-section {
  display: block;

  ui-section-container {
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 560px;
    display: flex;
  }

  ui-section-content {
    flex: 0 0 440px;
  }

  ui-section-title {
    font-size: 40px;
    font-family: Abel;
    color: rgba(#000, 0.7);
  }

  &:nth-child(even) {
    background: $input;

    ui-section-content {
      margin-right: 60px;
    }
  }

  &:nth-child(odd) {
    ui-section-container {
      flex-direction: row-reverse;

      ui-section-content {
        margin-left: 60px;
      }
    }
  }

}

ui-reference-title {
  font-size: 26px;
  font-family: $title-font;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(#000, 0.1);
  display: block;

  &.upcase {
    text-transform: uppercase;
    font-size: 20px;
  }
}

ui-reference-content {
  flex-direction: column;
  display: flex;
  flex: 1;
}

ui-reference-demo {
  border-bottom: 1px solid rgba(#000, 0.1);
  display: flex;
  min-height: 400px;

  ui-reference-demo-viewport {
    background: linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD),
                linear-gradient(45deg, #DDD 25%, transparent 25%, transparent 75%, #DDD 75%, #DDD);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;

    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
    flex: 1;

    #time-demo {
      background: $input;
      padding: 15px;
    }

    #test-container {
      border: 1px dashed rgba(0,0,0,0.4);
      padding: 20px;

      &.direction-row {
        width: 500px;
      }

      &.direction-column {
        height: 500px;
      }
    }

    ui-tabs {
      width: 400px;
      height: 150px;
      display: flex;
      flex-direction: column;

      ui-panel {
        padding: 10px;
      }

      ui-tabs-content {
        flex: 1;
      }
    }

    ui-tagger {
      background: $background;
      padding: 20px;
      width: 300px;
    }

    ui-pager {
      border: 3px solid rgba(0,0,0,0.4);

      ui-page > * {
        justify-content: center;
        align-items: center;
        font-size: 30px;
        display: flex;
        color: white;
      }

      .demo-page-1 {
        background: $primary;
      }

      .demo-page-2 {
        background: $success;
      }

      .demo-page-3 {
        background: $warning;
      }

      .demo-page-4 {
        background: $danger;
      }
    }

    > ui-textarea {
      min-height: 100px;
      width: 400px;
    }

    ui-loader {
      width: 400px;
      position: relative !important;
    }


    ui-layout-website,
    ui-layout-app,
    ui-layout-sidebar {
      border: 1px solid rgba(#000, 0.4);
      background: $input;
      min-height: 0;
      height: 300px;
      width: 600px;
    }

    ui-layout-website > *,
    ui-layout-sidebar > *,
    ui-layout-app-wrapper > *,
    ui-layout-app-sidebar {
      border: 1px dashed rgba(#000, 0.4);
      margin: 5px;
      padding: 10px;
    }

    ui-layout-app-wrapper {
      min-height: 0;
      height: inherit;
    }

    > ui-header {
      width: 600px;
    }

    ui-search-input {
      margin-left: 0;
    }

    ui-number-pad {
      min-width: 300px;
    }

    ui-date-picker {
      min-width: 210px;
    }

    ui-color-picker {
      min-width: 240px;
    }

    ui-file-input {
      margin-bottom: 10px;
    }

    ui-chooser {
      min-width: 300px;
    }
  }
}

ui-docs {
  padding: 30px;
  padding-bottom: 150px;
  display: block;
  background: $input;
  flex: 1 0 auto;
}

ui-docs-title {
  border-bottom: 2px solid rgba(#000, 0.1);
  display: block;
  margin: 30px 0;
  margin-top: 40px;
  font-family: Abel;
  font-size: 28px;
  padding-bottom: 10px;
}

ui-docs-entity {
  display: block;

  + ui-docs-entity {
    border-top: 1px dashed rgba(#000, 0.1);
    padding-top: 30px;
    margin-top: 30px;
  }

  ui-docs-entity-description {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
  }

  ui-docs-entity-title {
    display: flex;
    font-size: 16px;
    font-family: $code-font;

    strong {
      margin-right: 10px;
      font-weight: normal;
      color: #df5320;
    }

    span {
      white-space: nowrap;
      display: inline-block;
      margin-right: 7px;
    }

    div {
      &:first-child {
        color: $primary;
      }

      &:nth-child(2) {
        margin: 0 10px;
      }
    }
  }
}

ui-footer {
  height: 300px;
  display: block;
  background: #333;
}

ui-documentation {
  display: flex;
  min-height: 80vh;

  div.markdown-medium {
    background: $input;
    padding: 30px;
    padding-bottom: 100px;
    flex: 1;
  }

  p {
    margin: 10px 0;
  }

  h2 {
    margin: 0;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(#000, 0.1);
  }
}

pre {
  padding: 20px;
  border-radius: $border-radius;
  border: 1px solid rgba(#000, 0.05);
  background: #F7f7f7;
}

p code,
li code {
  border: 1px solid rgba(#000, 0.05);
  border-radius: $border-radius;
  background: #F7f7f7;
  padding: 3px 6px;
}

code {
  font-family: $code-font;
}

test-box {
  border: 1px solid rgba(#000, 0.1);
  width: 100px;
  height: 100px;
  background: $secondary;
}

// Inplace input demo.
.inplace-input {
  background: $input;
  padding: 20px;
  width: 300px;

  > span {
    border-bottom: 1px solid rgba(#000, 0.05);
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
    opacity: 0.8;
  }
}

.notification-center-demo {
  ui-input {
    margin-right: 10px;
  }
}
